*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

div.wrapper{
    background-color: #F1F1F1;
    width: 1000px;
    height: 970px;
    margin: 0 auto;
}

a{
    color: black;
}