 div.bottom {
    height: 550px;
    margin: 10px; 
    display: flex;
    justify-content: center;
}

div.leftCard {
    width: 300px;
    margin-top: 10px;
    flex-wrap: wrap;     
}

main div.bottom div.leftCard div.cardContent {    
    height: 490px;     
}

.webPreview{
    width: 290px;
    height: 160px;
}

img.icon{
    width: 40px;
    height: 40px;
    margin: 5px;    
}

.nextCard{
    margin-left: 30px;
}

.techTitle{
    margin-top: 10px;
}

input{        
    background-color: #407D61;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border-color: #2C5D47;
    font-weight: bold;    
    box-shadow: 3px 3px 5px rgb(189, 185, 185);    
}
input:hover{
    cursor: pointer;
}

.techButton{
    display: flex;
    justify-content: center;    
    margin: 0 auto;
}