footer {
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    line-height: 18px;
}

.contactDetails {
    align-self: center;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

img.socials {
    height: 18px;
    width: 18px;
    margin-left: 10px;
    vertical-align:middle
}

.footerSocials {
    align-self: center;
    margin-top: 14px;
}

.socialText {
    margin-left: 5px;
}